body, html {
  overflow: hidden;;
  height:100%;
}

#app {
  height: 100%;
}

#layout {
  height: 100%;
  display: flex;
}

#left-panel {
  background-color: #333333;
  height:100%;
  min-width: 32rem;
}

.stock-list {
    height: 100%
}

.stock-list-commands {
  padding: 1rem;
  border-bottom: 1px #7D7C7C solid;
}

.stock-list-commands input {
  width: 20rem;
  border: 1px lightgray solid;
  background-color: #7D7C7C;
  margin-right: 1.5rem;
}

.stock-list-commands a:link, .stock-list-commands a:visited {
  color: #7D7C7C;
}

.stock-list-commands a:hover {
  color: #D8D8D8;
}

.stock-list ul {
  overflow-y: scroll;
  height: 100%;
}

#options-panel {
  overflow-y: scroll;
  height:100%;
  min-width: 37rem;
  flex-grow: none;
  padding-left: 3rem;
}

#main-panel {
  margin: 0px 15px 5px 15px;
  flex-grow: 1;
  height:100%;
}

.stock-body {
  display: flex;
  height: 100%
}

.stock-chart {
  width: 800px;
  height: 475px;
}

.stock-item {
  cursor: pointer;
  padding: 10px 10px 5px 10px;
  border-bottom: 1px #7D7C7C solid;
}

.stock-item:hover {
  background: #434343;
}

.stock-item-name {
  text-transform: uppercase;
  color: #7D7C7C;
}
.stock-item-symbol {
  width: 48px;
  font-weight: bold;
  color: #D8D8D8;
}
.stock-item-sector {
  font-size: 80%;
  color: #5D5C5C;
}
.stock-item-price {
  color: #7D7C7C;
  font-weight: bold;
  font-size: 1.3rem;
  float: right!important;
}

.stock-item-selected {
  background: #eee;
}

.stock-header {
  border-bottom: 1px #7D7C7C solid;
}

.stock-title {

}

.stock-subtitle {

}

.stock-price {
  float: right!important;
}

.options-table tr {
  border-bottom: 1px lightgray solid;
}

.options-table td, .options-table th {
  padding: 0.6rem;
}

.options-columns-strike {
  font-weight: bold;
  border-left: 1px lightgray solid;
  border-right: 1px lightgray solid;
}

.option-cell-strike {
  font-weight: bold;
}

.option-strike-low .option-cell-call {
  color: lightgray;
}

.option-strike-high .option-cell-put {
  color: lightgray;
}

.option-strike-low .option-cell-put {
  background-color: #EFEFEF;
}

.option-strike-high .option-cell-call {
  background-color: #EFEFEF;
}
